html {
  font-size: clamp(14px, 0.85vw, 16px);
}

body {
  background-color: #e3e6e6;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  background: #131921;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: white;

  min-height: 4.2rem;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;

  flex: 0 1 auto;
  min-width: 13rem;
}

.logo {
  width: 7.5rem;
}

.location {
  display: flex;
  gap: 0.4rem;
}


.search-bar {
  display: flex;
  flex: 1 1 20rem;
  min-width: 15rem;
  max-width: 68rem;
  height: 2.8rem;
  margin: 0 2rem;
}

.search-bar select {
  background: #e6e6e6;
  border: none;
  padding: 0 0.5rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 80px;
}

.search-bar input {
  flex: 1;
  min-width: 0;
  border: none;
  padding: 0.6rem;
  font-size: 1.2rem;
}

.search-bar button {
  background: #febd69;
  border: none;
  padding: 0 1rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 1.3rem;
}


.language {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  flex: 0 1 auto;
  min-width: 5rem;
}

.language img {
  width: 1.6rem;
  height: auto;
}

.lang {
  border: none;
  color: white;
  background-color: #131921;
}
.lang option {
  color: black;
  background-color: white;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  flex: 0 1 auto;
  min-width: 18rem;
}

.nav-item {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.small-text {
  font-size: 0.85rem;
}

.nav-item strong {
  font-size: 1rem;
}

.cart i {
  font-size: 1.6rem;
}

.nav-left > div,
.nav-right > div,
.language,
.logo {
  padding: 0.5rem;
  border: 1px solid transparent;
  cursor: pointer;
}

.nav-left > div:hover,
.nav-right > div:hover,
.language:hover,
.logo:hover {
  border: 1px solid white;
  border-radius: 2px;
}

.subnav {
  background: #232f3e;
  color: white;
  padding: 0.625rem 1.25rem; 
  font-size: 1.125rem; 
  display: flex;
  gap: 1.25rem; 
  overflow-x: auto;
}

.subnav a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.hamburger {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100vh;
  background: white;
  z-index: 1000;
  transition: left 0.3s ease;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.side-header {
  background: #232f3e;
  color: white;
  gap: 18px;
  padding: 10px;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.side-content {
  padding: 16px;
  padding-left: 50px;
}

.side-content h3 {
  color: black;
  margin-bottom: 8px;
}